/* Blocks */
#color-palette {
  display: inline-block;
}

#pixel-board {
  display: block;
  max-width: 220px;
  max-height: 220px;
}

/* Colors */
#black {
  background: black;
}

#red {
  background: red;
}

#pink {
  background: pink;
}

#purple {
  background: purple;
}

/* Squares */
.color {
  border: black solid 1px;
  cursor: crosshair;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.pixel {
  border: black solid 1px;
  cursor: cell;
  display: inline-block;
  height: 40px;
  width: 40px;
}
