* {
  padding: 0;
}

#clear-board {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-weight: 900;
  padding: 7px;
}

#pixel-board {
  display: block;
  max-width: 250px;
}

.black {
  background-color: black;
  cursor: url(black-cursor);
}

.red {
  background-color: red;
  cursor: url(red-cursor);
}

.pink {
  background-color: pink;
  cursor: url(pink-cursor);
}

.purple {
  background-color: purple;
  cursor: url(purple-cursor);
}

.color {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  color: white;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.pixel {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0;
}